In [88]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [89]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1633,tt0375063,16000000,109502303,Sideways,Paul Giamatti|Thomas Haden Church|Virginia Mad...,Alexander Payne,In search of wine. In search of women. In sear...,Two middle-aged men embark on a spiritual jour...,126,Comedy|Drama|Romance,Fox Searchlight Pictures|Michael London Produc...,10/22/2004,6.6,2004
1222,tt2191701,80000000,246984278,Grown Ups 2,Adam Sandler|Kevin James|Chris Rock|David Spad...,Dennis Dugan,Just because they're a little older doesn't me...,The all-star comedy cast from Grown Ups return...,100,Comedy,Columbia Pictures|Happy Madison Productions|So...,7/11/2013,5.9,2013
75,tt4178092,5000000,58978653,The Gift,Jason Bateman|Rebecca Hall|Joel Edgerton|David...,Joel Edgerton,Not every gift is welcome.,A husband and wife try to reinvigorate their r...,108,Thriller|Mystery,Blumhouse Productions|Blue-Tongue Films|STX En...,7/30/2015,6.6,2015
450,tt1172991,15000000,4882577,The Company Men,Ben Affleck|Tommy Lee Jones|Chris Cooper|Kevin...,John Wells,"In America, we give our lives to our jobs. It'...",Bobby Walker is living the proverbial American...,104,Drama,Spring Creek Productions|Battle Mountain Films,10/21/2010,6.4,2010
958,tt0180052,100000000,7103973,The Adventures of Pluto Nash,Eddie Murphy|Randy Quaid|Rosario Dawson|Joe Pa...,Ron Underwood,Action's future has arrived...,"The year is 2087, the setting is the moon. Edd...",95,Action|Comedy|Science Fiction,Village Roadshow Pictures|Castle Rock Entertai...,8/15/2002,4.6,2002

In [90]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [91]:
answers = {} 
data['profit'] = data.revenue - data.budget

# словарь для записи значений
helpful_list = {}

# создание датафрейма из словаря для удобной сортировки и т.п.
def new_df(new_list):
    df = pd.DataFrame.from_dict(new_list, orient='index', columns =['value'])
    return df

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [92]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides'
# +

In [93]:
budget_max = data[data.budget == data.budget.max()].original_title
budget_max

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [94]:
budget_max = data.query('budget == budget.max()')
budget_max

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [95]:
answers['2'] = '2. Gods and Generals'
# +

In [96]:
runtime_max = data[data.runtime == data.runtime.max()].original_title
runtime_max

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [97]:
answers['3'] = '3. Winnie the Pooh'
# +

In [98]:
runtime_min = data[data.runtime == data.runtime.min()].original_title
runtime_min

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [99]:
answers['4'] = '2. 110'
# +
runtime_mean = data.runtime.mean()
round(runtime_mean)

110

# 5. Каково медианное значение длительности фильмов?

In [100]:
answers['5'] = '1. 107'
# +
runtime_median = data.runtime.median()
round(runtime_median)

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [101]:
data['profit'] = data.revenue - data.budget
profit_max = data[data.profit == data.profit.max()]
profit_max.original_title

239    Avatar
Name: original_title, dtype: object

In [102]:
answers['6'] = '5. Avatar'
# +

# 7. Какой фильм самый убыточный?

In [103]:
answers['7'] = '5. The Lone Ranger'
# +
profit_min = data[data.profit == data.profit.min()]
profit_min.original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [104]:
answers['8'] = '1. 1478'
# +
revenue_isbigger = data[data.revenue > data.budget]
len(revenue_isbigger)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [105]:
answers['9'] = '4. The Dark Knight'
# +
highest_grossing = data[(data.release_year == 2008)].sort_values(by='revenue', ascending=False).head(2)
highest_grossing

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,5.6,2008,601636033

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [106]:
answers['10'] = '5. The Lone Ranger'
biggest_expenses = data.query('2012 <= release_year <= 2014').sort_values(by='profit').head(2)
biggest_expenses

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,5.3,2013,-68351500

# 11. Какого жанра фильмов больше всего?

In [107]:
answers['11'] = '5. Drama: 782'
# +

# очищаю словарь
helpful_list = {}

for genres in data.genres:
    for genre in genres.split('|'):
        if genre not in helpful_list:
            helpful_list[genre] = 1
        else:
            helpful_list[genre] += 1
            
# использую функцию из предобработки для удобной сортировки 
sum_genres = new_df(helpful_list).sort_values(by='value', ascending=False)
sum_genres

                 value
Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2

ВАРИАНТ 2

In [108]:
count = {}
for genres in data.genres:
    for genre in genres.split('|'):
        if genre not in helpful_list:
            helpful_list.append(gener)
            
for genre in helpful_list:
    count[genre] = data[data.genres.str.contains(genre)].imdb_id.count()
    
# Сортировка результата     
new_df(count).sort_values(by='value', ascending=False)

                 value
Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2

In [109]:
# Вариант2
sum_genres=pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts(ascending=False)
sum_genres

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [110]:
# +
answers['12'] = '1. Drama: 560' 

# Очищаю словарь
helpful_list = {}

for genres in data[data.profit > 0].genres:
    for genre in genres.split('|'):
        if genre not in helpful_list:
            helpful_list[genre] = 1
        else:
            helpful_list[genre] += 1
            
# Сортировка результата            
new_df(helpful_list).sort_values(by='value', ascending=False)

                 value
Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7

In [111]:
# Вариант2
data_profit = data[data.profit > 0]
profit_films = pd.Series(data_profit['genres'].str.cat(sep='|').split('|')).value_counts(ascending=False)
profit_films

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [112]:
answers['13'] = '5. Peter Jackson: 6490593685'

In [113]:
data = pd.read_csv('movie_bd_v5.xls')
list_directors = {}

# Заполняю словарь всеми режиссерами
for director in data.director.unique():
    if director not in list_directors:
        list_directors[director] = 0

# Считаю кассовые сборы для каждого режиссера
for director in list_directors:
    list_directors[director] = data[data.director.str.contains(director)].revenue.sum()
    
    
new_df(list_directors).sort_values(by='value', ascending=False).head(2)


    
# sorted(list_directors)

                                              value
Peter Jackson                            6490593685
Lee Unkrich|David Silverman|Pete Docter  4602734349

In [114]:
# Вариант2

# Создаю series с ФИО режиссеров
directors = pd.Series(0, set(data['director'].str.cat(sep='|').split('|')))

# Считаю кассовые сборы
for director in directors.index:
    directors[director] = data[data.director.str.contains(director)].revenue.sum()
    
# Сортирую результат
directors.sort_values(ascending=False).head(1)

Peter Jackson    6490593685
dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [115]:
answers['14'] = '3. Robert Rodriguez: 9'
# +

# Оставляю в датасете фильмы, которые имеют жанр Action
data_action = data[data.genres.str.contains("Action")]

# Составляю series режиссёров из отфильтрованного датасета
directors = pd.Series(0, set(data_action['director'].str.cat(sep='|').split('|')))

# Считаю кол-во фильмов с участием режиссеров из series
for director in directors.index:
    directors[director] = data_action[data_action.director.str.contains(director)].original_title.count()

# Сортирую результат    
director_actionmax = directors.sort_values(ascending=False).head(1)
director_actionmax

Robert Rodriguez    9
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [116]:
answers['15'] = '3. Chris Hemsworth: 2027450773'
# +

# Оставляю в датасете фильмы 2012 года
data2012 = data[data.release_year == 2012]

# Составляю series актёров из отфильтрованного датасета
actors = pd.Series(0, set(data2012['cast'].str.cat(sep='|').split('|')))

# Считаю кассовые сборы для каждого актёра из series
for actor in actors.index:
    actors[actor] = data2012[data2012.cast.str.contains(actor)].revenue.sum()

# Сортирую
actor_revenuemax = actors.sort_values(ascending=False).head(1)   
actor_revenuemax

Chris Hemsworth    2027450773
dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [117]:
answers['16'] = '3. Matt Damon: 18'
# +

# Оставляю в датасете высокобюджетные фильмы
data_bigbudget = data[data.budget > data.budget.mean()]

# Составляю series актёров из отфильтрованного датасета
actors = pd.Series(0, set(data_bigbudget['cast'].str.cat(sep='|').split('|')))

# Считаю количество высокобюджетных фильмов для каждого актёра из series
for actor in actors.index:
    actors[actor] = data_bigbudget[data_bigbudget.cast.str.contains(actor)].imdb_id.count()

    
actor_bigbudget = actors.sort_values(ascending=False).head(1)
actor_bigbudget

Matt Damon    18
dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [118]:
answers['17'] = '2. Action : 17'
# +

In [119]:
# Оставляю в датасете фильмы, в которых снимался Nicolas Cage
data_nicolas = data[data.cast.str.contains("Nicolas Cage")]
films_nicolas = pd.Series(data_nicolas['genres'].str.cat(sep='|').split('|')).value_counts(ascending=False)
 
films_nicolas

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Romance             1
Horror              1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [124]:
answers['18'] = '1. K-19'
# +
# Оставляю в датасете фильмы от Paramount
data_paramount = data[data.production_companies.str.contains('Paramount')]

# Заполняю series названиями фильмов и "пустыми" значениями
paramount_minprofit = pd.Series(data_paramount['original_title']).value_counts()

# Заполняю значения series
for film in paramount_minprofit.index:
    paramount_minprofit[film] = data_paramount[data_paramount.original_title.str.contains(film)].profit.sum()
    
paramount_minprofit.sort_values().head(1)

K-19: The Widowmaker   -64831034
Name: original_title, dtype: int64

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [125]:
answers['19'] = '5. 2015: 25449202382'
# +

# Создаю series с годами, которые есть во всё датасете
years = pd.Series(data['release_year']).value_counts()


# Считаю суммарные кассовые сборы для каждого года
for year in years.index:
    years[year] = data[data.release_year == year].revenue.sum()

year_maxrevenue = years.sort_values(ascending=False).head(1)
year_maxrevenue

2015    25449202382
Name: release_year, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [126]:
answers['20'] = '1. 2014: 2295464519'
# +

# Оставляю в датасете фильмы стцдии WB
data_wb = data[data.production_companies.str.contains('Warner Bros')]


# Группирую по годам и суммирую прибыль 
films_wb = data_wb.groupby(['release_year']).profit.sum()

films_wb.sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [127]:
answers['21'] = '4. 9: 227'
# +

data = pd.read_csv('movie_bd_v5.xls')

# Оставляю в столбце release_date только месяц
data.release_date = data.release_date.apply(lambda x: x[: x.find('/')])

# Группирую DF по месяцам и считаю количество фильмов для каждого месяца
months_sum = data.groupby('release_date').imdb_id.count()
months_sum.sort_values(ascending=False)

release_date
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [128]:
answers['22'] = '2.450'
# +

data = pd.read_csv('movie_bd_v5.xls')

# Оставляю в столбце release_date только месяц
data.release_date = data.release_date.apply(lambda x: x[: x.find('/')])

# Оставляю в датасете фильмы, которые вышли летом
data_summer = data[(data.release_date == '8') | (data.release_date == '7') |
                   (data.release_date == '6')]

len(data_summer)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [129]:
answers['23'] = '5. Peter Jackson: 7'
# +

data = pd.read_csv('movie_bd_v5.xls')

# Оставляю в столбце release_date только зимние месяцы
data.release_date = data.release_date.apply(lambda x: x[: x.find('/')])

# Оставляю в датасете фильмы, которые вышли летом
data_winter = data[(data.release_date == '1') | (data.release_date == '1') | 
                   (data.release_date == '12')]

# Группирую по режиссёрами и считаю количество фильмов, выпущенных зимой
directors_winter = data_winter.groupby('director').original_title.count()
directors_winter.sort_values(ascending=False)

director
Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    5
Adam Shankman        4
Nancy Meyers         4
                    ..
Lexi Alexander       1
Len Wiseman          1
Lasse HallstrÃ¶m     1
Kurt Wimmer          1
John Whitesell       1
Name: original_title, Length: 238, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [130]:
answers['24'] = '5. Four By Two Productions: 83.0'
# +

data = pd.read_csv('movie_bd_v5.xls')

# Создаю столбец с длинной названий
data['title_length'] = data.original_title.str.len()

# Создаю series с названиями студий
production_companies = pd.Series(data['production_companies'].str.cat
                                 (sep='|').split('|')).value_counts()

# Нахожу количество символов во всех названиях студии
for company in production_companies.index:
    production_companies[company] = data[data.production_companies.str.
                                         contains(company)].title_length.mean()
    
title_lenmax =production_companies.sort_values(ascending=False).head(1)
title_lenmax

D:\PROGRAMS\HELPFUL\Anaconda\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Four By Two Productions    83.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [131]:
answers['25'] = '3. Midnight Picture Show : 1000'
# +

# Новый столбец длинной описания фильма
data['overview_length'] = data.overview.str.len()

# Создаю series с названиями студий
production_companies = pd.Series(data['production_companies'].str.cat
                                 (sep='|').split('|')).value_counts()

# Нахожу количество символов во всех названиях студии
for company in production_companies.index:
    production_companies[company] = data[data.production_companies.str.contains
                                         (company)].overview_length.mean()
    
overview_max = production_companies.sort_values(ascending=False).head(1)
overview_max

Midnight Picture Show    1000.0
dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [132]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave '
# +

# Новый датафрейм с названием и оценкой
data_oneper = data[['vote_average', 'original_title']].sort_values(by='vote_average', ascending=False)

# Оставляю 1% лучших фильмов
data_oneper[:round(len(data_oneper)*0.01)]

      vote_average                                 original_title
599            8.1                                The Dark Knight
118            8.0                                   Interstellar
125            8.0                             The Imitation Game
9              8.0                                     Inside Out
34             8.0                                           Room
1183           7.9                        The Wolf of Wall Street
128            7.9                                      Gone Girl
1191           7.9                               12 Years a Slave
119            7.9                        Guardians of the Galaxy
1081           7.9  The Lord of the Rings: The Return of the King
1800           7.9                                        Memento
370            7.9                                      Inception
872            7.9                                    The Pianist
138            7.9                       The Grand Budapest Hotel
1188           7.8                                            Her
28             7.8                                      Spotlight
124            7.8                                     Big Hero 6
177            7.8                         The Fault in Our Stars
863            7.8          The Lord of the Rings: The Two Towers

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [133]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave '
# +

from itertools import combinations

# Вспомогательный словарь и новый столбец со списком актеров фильма
helpful_list = {}
data['cast_list'] = data['cast'].str.split('|')

# Поиск повторяющихся пар
for casts in data.cast_list:
    for cast in list(combinations(casts,2)):
        if cast in helpful_list:
            helpful_list[cast] += 1
        else:
            helpful_list[cast] = 1

# Преобразование словаря в датафрейм для сортировки
new_df(helpful_list).sort_values(by='value',ascending=False)

                                     value
(Daniel Radcliffe, Rupert Grint)         8
(Daniel Radcliffe, Emma Watson)          8
(Rupert Grint, Emma Watson)              7
(Johnny Depp, Helena Bonham Carter)      6
(Ben Stiller, Owen Wilson)               6
...                                    ...
(Miley Cyrus, Mark Walton)               1
(Miley Cyrus, Malcolm McDowell)          1
(Susie Essman, Mark Walton)              1
(Susie Essman, Malcolm McDowell)         1
(Nathan Bexton, Tess Harper)             1

[18121 rows x 1 columns]

# Submission

In [134]:
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides',
 '2': '2. Gods and Generals',
 '3': '3. Winnie the Pooh',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar',
 '7': '5. The Lone Ranger',
 '8': '1. 1478',
 '9': '4. The Dark Knight',
 '10': '5. The Lone Ranger',
 '11': '5. Drama: 782',
 '12': '1. Drama: 560',
 '13': '5. Peter Jackson: 6490593685',
 '14': '3. Robert Rodriguez: 9',
 '15': '3. Chris Hemsworth: 2027450773',
 '16': '3. Matt Damon: 18',
 '17': '2. Action : 17',
 '18': '1. K-19',
 '19': '5. 2015: 25449202382',
 '20': '1. 2014: 2295464519',
 '21': '4. 9: 227',
 '22': '2.450',
 '23': '5. Peter Jackson: 7',
 '24': '5. Four By Two Productions: 83.0',
 '25': '3. Midnight Picture Show : 1000',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave '}

In [135]:
len(answers)

26