In [16]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [17]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1503,tt0430304,64000000,101595121,Little Man,Marlon Wayans|Shawn Wayans|Kerry Washington|Jo...,Keenen Ivory Wayans,Big things come in small packages,"After leaving the prison, the dwarf criminal C...",98,Comedy|Crime,Revolution Studios|Wayans Bros. Entertainment,8/31/2006,5.6,2006
1570,tt0343660,75000000,196482882,50 First Dates,Adam Sandler|Drew Barrymore|Rob Schneider|Sean...,Peter Segal,Imagine having to win over the girl of your dr...,Henry is a player skilled at seducing women. B...,99,Comedy|Romance,Columbia Pictures Corporation|Happy Madison Pr...,2/13/2004,6.5,2004
1640,tt0350258,40000000,124731534,Ray,Jamie Foxx|Kerry Washington|Regina King|Harry ...,Taylor Hackford,The extraordinary life story of Ray Charles. A...,Born on a sharecropping plantation in Northern...,152,Drama,Universal Pictures,10/29/2004,7.0,2004
1224,tt0481499,135000000,585178928,The Croods,Nicolas Cage|Emma Stone|Ryan Reynolds|Catherin...,Kirk De Micco|Chris Sanders,Meet the first modern family.,The Croods is a prehistoric comedy adventure t...,98,Adventure|Animation|Comedy|Family|Fantasy,DreamWorks Animation,3/20/2013,6.8,2013
1310,tt2234155,58000000,44000000,The Internship,Owen Wilson|Vince Vaughn|Tiya Sircar|Rose Byrn...,Shawn Levy,Hiring them was a brilliant mistake.,Two recently laid-off men in their 40s try to ...,119,Comedy,Twentieth Century Fox Film Corporation|Regency...,6/7/2013,6.1,2013

In [18]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [20]:
answers = {} # создадим словарь для ответов
# profit = revenue - budget
# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
data = pd.read_csv('movie_bd_v5.xls')
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals'

In [9]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '3. Winnie the Pooh'

In [11]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '2. 110'
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [13]:
answers['5'] = '1. 107'
data.runtime.median()
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides',
 '2': '2. Gods and Generals',
 '3': '3. Winnie the Pooh',
 '4': '2. 110',
 '5': '1. 107'}

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [14]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data.revenue - data.budget
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [15]:
answers['6'] = '5. Avatar'

# 7. Какой фильм самый убыточный?

In [16]:
answers['7'] = '5. The Lone Ranger'
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [17]:
answers['8'] = '1. 1478'
data2 = data[data.revenue > data.budget]
len(data2)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [18]:
answers['9'] = '4. The Dark Knight'
data[(data.release_year == 2008)].sort_values(by='revenue', ascending=False).head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,5.6,2008,601636033
606,tt0441773,130000000,631744560,Kung Fu Panda,Jack Black|Dustin Hoffman|Angelina Jolie|Jacki...,Mark Osborne|John Stevenson,Prepare for awesomeness.,"When the Valley of Peace is threatened, lazy P...",90,Animation|Family,DreamWorks Animation,6/4/2008,6.8,2008,501744560
621,tt0448157,150000000,624029371,Hancock,Will Smith|Charlize Theron|Jason Bateman|Jae H...,Peter Berg,Bad Behavior. Bad Attitude. Real Hero.,Hancock is a down-and-out superhero who's forc...,92,Fantasy|Action,Columbia Pictures|Weed Road Pictures|Forward P...,7/1/2008,6.0,2008,474029371
607,tt0795421,52000000,609841637,Mamma Mia!,Meryl Streep|Pierce Brosnan|Amanda Seyfried|Co...,Phyllida Lloyd,Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,Comedy|Romance,Universal Pictures|Internationale Filmprodukti...,6/30/2008,6.2,2008,557841637

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [19]:
answers['10'] = '5. The Lone Ranger'
data.query('2012 <= release_year <= 2014').sort_values(by='profit', ascending=True).head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,5.3,2013,-68351500
1007,tt1374992,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,9/27/2012,6.1,2012,-51893525
1302,tt0884726,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,6/13/2013,6.1,2013,-51337973
1235,tt1308729,55000000,9489829,Bullet to the Head,Sylvester Stallone|Sung Kang|Sarah Shahi|Adewa...,Walter Hill,Revenge Never Gets Old.,"After watching their respective partners die, ...",92,Action|Crime|Thriller,Dark Castle Entertainment|After Dark Films|IM ...,1/31/2013,5.2,2013,-45510171

# 11. Какого жанра фильмов больше всего?

In [20]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '5. Drama: 782'
list_genres = {}
for genres in data.genres:
    for genre in genres.split('|'):
        if genre not in list_genres:
            list_genres[genre] = 1
        else:
            list_genres[genre] += 1
list_genres

{'Action': 582,
 'Adventure': 415,
 'Science Fiction': 248,
 'Thriller': 596,
 'Fantasy': 222,
 'Crime': 315,
 'Western': 19,
 'Drama': 782,
 'Family': 260,
 'Animation': 139,
 'Comedy': 683,
 'Mystery': 168,
 'Romance': 308,
 'War': 58,
 'History': 62,
 'Music': 64,
 'Horror': 176,
 'Documentary': 8,
 'Foreign': 2}

ВАРИАНТ 2

In [21]:
# list_genres = ['Drama', 'Comedy']
# count = {}
# # for genres in data.genres:
# #     for genre in genres.split('|'):
# #         if genre not in list_genres:
# #             list_genres.append(gener)
# for genre in list_genres:
#     count[genre] = data.query(f"genres.str.contains('{genre}')").imdb_id.count()
# list_genres
# sum_genres=pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts(ascending=False)
# sum_genres

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [36]:
answers['12'] = '1. Drama: 560'
list_genres = {}
for genres in data[data.profit > 0].genres:
    for genre in genres.split('|'):
        if genre not in list_genres:
            list_genres[genre] = 1
        else:
            list_genres[genre] += 1
sorted(list_genres.values())

[7,
 12,
 41,
 46,
 47,
 119,
 120,
 150,
 188,
 195,
 226,
 231,
 242,
 337,
 444,
 446,
 551,
 560]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [50]:
directors=pd.Series(data['director'].str.cat(sep='|').split('|')).value_counts(ascending=False)
answers['13'] = '5. Peter Jackson: 6490593685'

Steven Soderbergh    13
Clint Eastwood       12
Ridley Scott         12
Robert Rodriguez     11
Steven Spielberg     10
                     ..
Gregory Poirier       1
Amma Asante           1
Michael Cristofer     1
Klay Hall             1
Barbet Schroeder      1
Length: 997, dtype: int64

In [92]:
data = pd.read_csv('movie_bd_v5.xls')
list_directors = {}
for director in data.director.unique():
    if director not in list_directors:
        list_directors[director] = 0
# for director in list_directors:
for director in list_directors:
    list_directors[director] = data[data.director.str.contains(director)].revenue.sum()
list_directors
max = 0
name = {}
for i, j in list_directors.items():
    if j > max:
        max = j
        name[i] = j
name
    
# sorted(list_directors)

{'Colin Trevorrow': 1513528810,
 'J.J. Abrams': 3579169916,
 'Christopher Nolan': 4167548502,
 'Peter Jackson': 6490593685}

In [ ]:
directors = pd.Series(0, set(data['director'].str.cat(sep='|').split('|')))
for director in directors.index:
    directors[director] = data[data.director.str.contains(director)].revenue.sum()
directors.sort_values(ascending=False).head(1)

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [112]:
list_directors = {}
for directors in data.director:
    for director in directors.split('|'):
        if director not in list_directors:
            list_directors[director] = 0
# for director in list_directors:
for director in list_directors:
    list_directors[director] = data[(data.genres.str.contains("Action")) & (data.director.str.contains(director))].imdb_id.count()
max = 0
name = {}
for i, j in list_directors.items():
    if j > max:
        max = j
        name[i] = j
name
#     list_directors
answers['14'] = '3. Robert Rodriguez: 9'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [114]:
data2 = data[data.release_year == 2012]
# actors = pd.Series(0, set(data2.cast.str.cat(sep='|').split('|')))
actorss = {}
for actors in data2.cast:
    for actor in actors.split('|'):
        if actor not in actorss:
            actorss[actor] = 0
for actor in actorss:
    actorss[actor] = data2[data2.cast.str.contains(actor)].revenue.sum()
actorss
max = 0
name = {}
for i, j in actorss.items():
    if j > max:
        max = j
        name[i] = j
answers['15'] = '3. Chris Hemsworth: 2027450773'
name

{'Robert Downey Jr.': 1519557910, 'Chris Hemsworth': 2027450773}

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [21]:
data2 = data[data.budget > data.budget.mean()]
actorss = {}
for actors in data2.cast:
    for actor in actors.split('|'):
        if actor not in actorss:
            actorss[actor] = 0
for actor in actorss:
    actorss[actor] = data2[data2.cast.str.contains(actor)].imdb_id.count()
max = 0
name = {}
for i, j in actorss.items():
    if j > max:
        max = j
        name[i] = j
answers['16'] = '5. Matt Damon: 18'
name

{'Chris Pratt': 2,
 'Bryce Dallas Howard': 3,
 'Tom Hardy': 4,
 'Charlize Theron': 8,
 'Vin Diesel': 10,
 'Dwayne Johnson': 12,
 'Matt Damon': 18}

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [24]:
data2 = data[data.cast.str.contains("Nicolas Cage")]
listg = {}
for genres in data2.genres:
    for genre in genres.split('|'):
        if genre not in listg:
            listg[genre] = 0
for genre in listg:
    listg[genre] = data2[data2.genres.str.contains(genre)].imdb_id.count()
max = 0
name = {}
for i, j in listg.items():
    if j > max:
        max = j
        name[i] = j
name
answers['17'] = '5. Action: 17'

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)