In [12]:
import pandas as pd
import numpy as np

log = pd.read_csv('log.csv.xls', encoding='utf-8', )
user = pd.read_csv('users.csv.xls', encoding='koi8_r', sep='\t')

In [13]:
log.head()

,Запись пользователя № - user_919,[2019-01-01 14:06:51,Unnamed: 2,Unnamed: 3
0,Запись пользователя № - user_973,[2019-01-01 14:51:16,NaN,NaN
1,Запись пользователя № - user_903,[2019-01-01 16:31:16,NaN,NaN
2,Запись пользователя № - user_954,[2019-01-01 17:17:51,NaN,NaN
3,Запись пользователя № - user_954,[2019-01-01 21:31:18,NaN,NaN
4,Запись пользователя № - user_917,[2019-01-01 23:34:55,156789.0,NaN

In [14]:
user.head()

                       Юзверь\tмейл\tГео
0  User_943\tAccumanst@gmail.com\tИжевск
1    User_908\tAdvismowr@mail.ru\tИжевск
2   User_962\tAnachso@ukr.net\tКраснодар
3      User_973\tAntecia@inbox.ru\tПермь
4         User_902\tBalliaryva@ukr.net\t