In [1]:
import pandas as pd
df = pd.DataFrame({
    'men': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'women': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

df.men.mean() - df.women.mean()
df

    men  women
0  80.2   57.9
1  80.8   57.3
2  57.5   72.8
3  98.0   48.2
4  50.5   59.5
5  73.8   48.3
6  77.4   61.2
7  59.7   53.9
8  77.9   53.9
9  52.6   70.7

In [4]:
df.men.median()
df.women.median()

57.599999999999994

In [19]:
patients = pd.concat([df.men,df.women], axis=0, join='inner')
patients.median()

59.6

2 7 4 3 6 4 1 2 
1 2 2 3 4 4 6 7
q2 = 3.5
q1 = 2
q3 = 5

5 2 4 8 1 6 7
1 2 4 5 6 7 8
q2 = 5 
q1 = 2
q3 = 7

In [35]:
qm = df.men.quantile(q=0.75, interpolation='midpoint')
round(qm, 1)

79.1