In [20]:
import pandas as pd
df = pd.DataFrame({
    'men': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'women': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

df.men.mean() - df.women.mean()
df

    men  women
0  80.2   57.9
1  80.8   57.3
2  57.5   72.8
3  98.0   48.2
4  50.5   59.5
5  73.8   48.3
6  77.4   61.2
7  59.7   53.9
8  77.9   53.9
9  52.6   70.7

In [7]:
df.men.median()
df.women.median()

57.599999999999994

In [23]:
patients = df.men.merge(df.women, how='left',)
patients

AttributeError: 'Series' object has no attribute 'merge'