In [6]:
import pandas as pd
df = pd.DataFrame({
    'men': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'women': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

df.men.mean() - df.women.mean()
df
# !pip3 install pandas

    men  women
0  80.2   57.9
1  80.8   57.3
2  57.5   72.8
3  98.0   48.2
4  50.5   59.5
5  73.8   48.3
6  77.4   61.2
7  59.7   53.9
8  77.9   53.9
9  52.6   70.7

In [3]:
df.men.median()
df.women.median()

NameError: name 'df' is not defined

In [4]:
patients = pd.concat([df.men,df.women], axis=0, join='inner')
patients.median()

NameError: name 'pd' is not defined

2 7 4 3 6 4 1 2 
1 2 2 3 4 4 6 7
q2 = 3.5
q1 = 2
q3 = 5

5 2 4 8 1 6 7
1 2 4 5 6 7 8
q2 = 5 
q1 = 2
q3 = 7

In [35]:
qm = df.men.quantile(q=0.75, interpolation='midpoint')
round(qm, 1)

79.1

In [45]:
round(df.womens.max() - df.womens.min(), 1)

24.6

In [46]:
round(df.womens.quantile(q=0.75, interpolation='midpoint') - df.womens.quantile(q=0.25, interpolation='midpoint'), 1)

6.5

In [52]:
round(df.womens.std(), 1)

8.3

In [19]:
drop = df.men.quantile(q=0.25, interpolation='midpoint') - 1.5*(df.men.quantile(q=0.75, interpolation='midpoint') - df.men.quantile(q=0.25, interpolation='midpoint'))
drop = df.men.quantile(q=0.75, interpolation='midpoint') + 1.5*(df.men.quantile(q=0.75, interpolation='midpoint') - df.men.quantile(q=0.25, interpolation='midpoint'))
drop
# df.men.quantile(q=0.75, interpolation='midpoint')

109.72500000000002

In [20]:
drop = df.women.quantile(q=0.25, interpolation='midpoint') - 1.5*(df.women.quantile(q=0.75, interpolation='midpoint') - df.women.quantile(q=0.25, interpolation='midpoint'))
drop = df.women.quantile(q=0.75, interpolation='midpoint') + 1.5*(df.women.quantile(q=0.75, interpolation='midpoint') - df.women.quantile(q=0.25, interpolation='midpoint'))
drop

70.025

In [21]:
df = pd.DataFrame({
    'year': [2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018],
    'temp': [-4.7, -6.1, -5.5, -3.3, -7.1, -3.1, -5.2, -7.3, -12.1, -6.6, -5.9, -6.3]
})

In [32]:
df.temp.mean()
df.temp.median()
# df.temp.std()
# df.temp.max() - df.temp.min()
# round(df.temp.quantile(q=0.75, interpolation='midpoint') - df.temp.quantile(q=0.25, interpolation='midpoint'), 1)

-6.0